# Setup & Load

In [ ]:
# !pip install pandas
# !pip install numpy

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data_2023.csv')

In [5]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1.0,1.0,b'03012023',b'03',b'01',b'2023',1100.0,b'2023000001',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,1.0,1.0,9.0
1,1.0,1.0,b'01062023',b'01',b'06',b'2023',1100.0,b'2023000002',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
2,1.0,1.0,b'03082023',b'03',b'08',b'2023',1100.0,b'2023000003',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
3,1.0,1.0,b'03062023',b'03',b'06',b'2023',1100.0,b'2023000004',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,1.0,9.0
4,1.0,1.0,b'01062023',b'01',b'06',b'2023',1100.0,b'2023000005',2.023000e+09,1.0,...,7.000000e+00,1.0,4.700000e+01,1.0,2.0,1.0,2.0,1.0,1.0,2.0

In [6]:
df.shape

(433323, 350)

# Data Cleaning

1. Select columns

2. Filter & Clean

## Selcet columns

**col_list1** is columns used in the study:

**Building Risk Prediction Models for Type 2 Diabetes Using Machine Learning Techniques**

https://www.cdc.gov/pcd/issues/2019/19_0109.htm

In [70]:
col_list1 = ['GENHLTH', # Would you say that in general your health is:
            '_AGEG5YR', # Fourteen-level age category
            '_BMI5CAT', # Four-categories of Body Mass Index (BMI)
            'CHECKUP1', # About how long has it been since you last visited a doctor for a routine checkup?
            'INCOME3', # What is your annual household income from all sources:
            '_RACE', # Race/ethnicity categories
            'MSCODE', # Metropolitan Status Code
            'FLUSHOT7', # During the past 12 months, have you had either flu vaccine that was sprayed in your nose or flu shot injected into your arm?
            'EMPLOY1', # Are you currently:
            'SEXVAR', # Sex of Respondent
            'MARITAL', # Marital Status
            '_EDUCAG', # Level of education completed
            'CVDCRHD4', # (Ever told) (you had) angina or coronary heart disease?
            'PRIMINS1', # What is the current source of your primary health insurance?
            'MENTHLTH', # Now thinking about your mental health, which includes stress, depression, and problems with emotions, for how many days during the past 30 days was your mental health not good?
            'CHCKDNY2', # Not including kidney stones, bladder infection or incontinence, were you ever told you had kidney disease?
            '_TOTINDA', # Adults who reported doing physical activity or exercise during the past 30 days other than their regular job
            'ADDEPEV3', # (Ever told) (you had) a depressive disorder (including depression, major depression, dysthymia, or minor depression)?
            'RENTHOM1', # Do you own or rent your home?
            'EXERANY2', # During the past month, other than your regular job, did you participate in any physical activities or exercises such as running, calisthenics, golf, gardening, or walking for exercise?
            'BLIND', # Are you blind or do you have serious difficulty seeing, even when wearing glasses?
            'DECIDE', # Because of a physical, mental, or emotional condition, do you have serious difficulty concentrating, remembering, or making decisions?
            '_HLTHPL1', # Adults who had some form of health insurance
            'DIABETE4', # (Ever told) (you had) diabetes?
            '_SMOKER3',] # Four-level smoker status
            

df1 = df[col_list1]
df1.head()

,GENHLTH,_AGEG5YR,_BMI5CAT,CHECKUP1,INCOME3,_RACE,MSCODE,FLUSHOT7,EMPLOY1,SEXVAR,...,CHCKDNY2,_TOTINDA,ADDEPEV3,RENTHOM1,EXERANY2,BLIND,DECIDE,_HLTHPL1,DIABETE4,_SMOKER3
0,2.0,13.0,4.0,2.0,99.0,1.0,1.0,2.0,7.0,2.0,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,4.0
1,2.0,13.0,3.0,2.0,99.0,1.0,1.0,1.0,7.0,2.0,...,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,3.0,4.0
2,4.0,13.0,2.0,1.0,2.0,2.0,3.0,1.0,7.0,2.0,...,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,3.0,3.0
3,2.0,12.0,3.0,3.0,99.0,1.0,2.0,1.0,7.0,2.0,...,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,3.0,4.0
4,4.0,12.0,3.0,1.0,7.0,1.0,5.0,2.0,8.0,2.0,...,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,4.0

## Filter & Clean

Exclude these:

1. Younger than 30 year old.

2. Had diabetes and pregnant.

3. Missing values.

Condense these:

1. Category of age

2. Mental Health

In [88]:
df2 = df1[(~df1['_AGEG5YR'].isin([1, 2, 14])) & # Exclude respondents based on age
          (~df1['DIABETE4'].isin([2, 7, 9, "BLANK"])) & # Exclude respondents based on diabetes status
          (~df1['_BMI5CAT'].isin(["BLANK"])) & 
          (~df1['CHECKUP1'].isin([9, "BLANK"])) & 
          (~df1['INCOME3'].isin([77, 99, "BLANK"])) & 
          (~df1['_RACE'].isin([9, "BLANK"])) & 
          (~df1['FLUSHOT7'].isin([9])) &
          (~df1['EMPLOY1'].isin([9, "BLANK"])) &
          (~df1['MARITAL'].isin([9, "BLANK"])) &
          (~df1['_EDUCAG'].isin([9])) &
          (~df1['CVDCRHD4'].isin([9, "BLANK"])) &
          (~df1['PRIMINS1'].isin([77, 99, "BLANK"])) &
          (~df1['MENTHLTH'].isin([77, 99, "BLANK"])) &
          (~df1['CHCKDNY2'].isin([7, 9, "BLANK"])) &
          (~df1['_TOTINDA'].isin([9])) &
          (~df1['ADDEPEV3'].isin([7, 9, "BLANK"])) &
          (~df1['RENTHOM1'].isin([7, 9, "BLANK"])) &
          (~df1['EXERANY2'].isin([7, 9, "BLANK"])) &
          (~df1['BLIND'].isin([7, 9, "BLANK"])) &
          (~df1['DECIDE'].isin([7, 9, "BLANK"])) &
          (~df1['_HLTHPL1'].isin([9])) &
          (~df1['ADDEPEV3'].isin([9]))]

In [85]:
num_respondents = df2.shape[0]
num_features = df2.shape[1]
num_diabetes = df2[df2['DIABETE4'] == 1].shape[0]
percentage_diabetes = round(df2[df2['DIABETE4'] == 1].shape[0]/df2.shape[0]*100, 2)


print("We have {} respondents and {} features in the dataset".format(num_respondents, num_features))
print("{} of the respondents have diabetes, which is about {}%".format(num_diabetes, percentage_diabetes))

We have 288963 respondents and 25 features in the dataset
43663 of the respondents have diabetes, which is about 15.11%

In [86]:
df2.to_csv('cleaned_data.csv', index=False)